#ex1{
    width: 40vw;
    background-color: yellow;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
#ex2,#ex2b{
    width: 200px;
    height: 200px;
}
img{
    height: 100%;
    width: 100%;
}
#style_container > div{
    display: inline;
    width: 50vh;
}
#text{
    width: 50vw;
    padding: 10px;
    padding-bottom:50px ;
    border: 1px solid black;
    text-overflow:ellipsis;
}
#pass_container{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
#pass-msg , #repass-msg{
    color: red;
    font-weight: bold;
}
#submit{
    display: none;
}
.text_container{
    width: 70vw;
    border: 1px solid black;
    padding: 0;
}
.text_container h1, .text_container p{
    margin: 0;
}
.text_container .heading{
    padding: 20px;
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: space-between;
}
.text_container #msg1,.text_container #msg2,.text_container #msg3{
    padding: 10px;
    display:none;
}